 .menu-desktop {
    list-style: none;
    text-align: center;
    display: block;
    margin: auto;
    background-color: var(--riscv-b);
    overflow: hidden;
}

.menu ul {
    padding: 0px;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline;
}

.menu li a {
    padding: 12px 15px 10px 15px;
    font-weight: bold;
}

.menu li a:link, .menu li a:visited {
    color: white;
    background:var(--riscv-b);
    text-decoration: none;
}

.menu li a:hover, .menu li a:active {
    color: var(--riscv-b);
    background: white;
    text-decoration: none;
}

/* Mobile */
.header-mobile{
    background-color: var(--riscv-b);
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.menu-mobile{
    width: 100%;
    height: 100%;
    background-color: var(--riscv-b);
    overflow: hidden;
}
.menu-mobile a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu-mobile a:hover{
    background-color: white;
}
.menu-mobile{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 20px 20px;
    vertical-align: middle;
}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ .menu-mobile{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.header-mobile{
    display:none;
   }
@media (max-width: 3072px) {
    .header-desktop{
        display:none;
       }
       .header-mobile{
        display:block;
       }
}
