:root {
    /* RISC-V basic blue and yellow. */
    --riscv-b:#011e41;
    --riscv-y:#ffc72c;
    /* Full list of RISC-V colors from https://riscv.org/about/risc-v-branding-guidelines/ */
    --riscv-sy:#ffc72c; /* RISC-V strong yellow. */
    --riscv-sb:#011e41; /* RISC-V strong blue. */
    --riscv-sg:#0a6b7c; /* RISC-V strong green. */
    --riscv-sp:#cb007b; /* RISC-V strong pink. */
    --riscv-sv:#60269e; /* RISC-V strong violet. */
    --riscv-ly:#fdda64; /* RISC-V light yellow. */
    --riscv-lb:#0a3799; /* RISC-V light blue. */
    --riscv-lg:#62cbc9; /* RISC-V light green. */
    --riscv-lp:#fe9bb1; /* RISC-V light pink. */
    --riscv-lv:#c2a6e1; /* RISC-V light violet. */
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
}

@media (min-width: 768px) { 
    html article {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 1024px) { 
html article {
    width: 70%;
    margin: auto;
}
}

html h2 {
    color: var(--riscv-b);
    font-weight: bold;
}

html h3 {
    color: var(--riscv-y);
    font-weight: bold;
}

html h4 {
    color: var(--riscv-sg);
    font-weight: bold;
    prefix: "-- ";
}

html footer {
    font-size: 62.5%;
}

html footer hr {
    /* color or backgroud-color depending on the browser. */
    color: var(--riscv-b);
    background-color: var(--riscv-b);
    height: 2px;
    border: none;
}


.schedule-block {
    color: var(--riscv-b);
    text-align: left;
}


.schedule-time {
    font-style: italic;
}

.schedule-author {
    font-weight: bold;
    font-style: italic;
}

.schedule-title {
    font-weight: bold;
}

.schedule-day {
    color: var(--riscv-b);
    font-size: x-large;
    font-weight: 900;
    padding: .5em;
    width: 100%;
    text-align: center;
}

.schedule {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
}

.schedule div {
    box-sizing: border-box;
}

.sched-block-title {
  width: 25%;
  text-align: center;
  padding: 0.5em;
}

.sched-block-title.org {
    background-color: var(--riscv-sy);
}

.sched-block-title.break {
    background-color: var(--riscv-lg);
}

.sched-block-title.keynote {
    background-color: var(--riscv-ly);
}

.sched-block-title.technical {
    background-color: var(--riscv-lv);
}

.sched-block {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;

}

.sched-entry {
  width: 100%;
  text-align: left;
  padding-left: 1em;
  padding-top: 0.5em;
}
.sched-entry:last-of-type {
  padding-bottom: 0.5em;
}

.schedule-block-time {
    font-weight: normal;
}

.schedule-block-title {
    font-weight: bold;
}
