.week {
    margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.week th {
    width: 18%;
    padding: 2px 0px 0px 0px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--riscv-y);
    background-color: var(--riscv-b);
}
.week td {
    width: 18%;
    padding: 2px 0px 0px 0px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--riscv-b);
    background-color: var(--riscv-y);
}
