<!DOCTYPE html>
<html>
  <head>
    <title>RISC-V Summit Europe -- Barcelona -- 5-9 June 2023</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="RISC-V, open source, open source hardware, open hardware, ISA"/>
    <meta name="author" content="Christian Fabre (CEA, France)"/>
    <meta name="title" property="og:title" content="RISC-V Summit Europe, 5-9th June 2023, Barcelona, Spain" />
    <meta name="image" property="og:image" content="https://riscv-europe.org/media/banners/Barcelona-meta.jpg" />
    <meta name="description" property="og:description" content="The RISC-V Summit Europe in (Barcelona, 5-9th June 2023), will be the premier event that connects the European movers and shakers - from industry, government, research, academia and ecosystem support - that are building the future of innovation on RISC-V and open-source hardware." />
    <meta http-equiv="refresh" content="1800"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/table-week.css">
    <link rel="stylesheet" href="css/table-colors.css">
    <link rel="stylesheet" href="css/organizers.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/sponsor-boxes.css">
  </head>
  <body>

  <header class="header-desktop">
    <div style="display: flex; align-items: center; padding: 5px">
    <div style="flex: 1">
      <img style="width: 100%" src="media/logos/RISCV-logo.png" alt="RISC-V"/>
    </div>
    <div class="banner" style="flex: 1; text-align: center;">
      RISC-V Summit Europe
    </div>
    <div class="banner" style="flex: 1; text-align: right;">
      5-9 June Barcelona
    </div>
</div>
    <nav class="menu menu-desktop">
      <ul>
	<li><a href="index.html" title="Summit">Summit</a></li>
	<li><a href="cfp.html" title="Call for Submissions">CfS</a></li>
        <li><a href="twg-meetings.html" title="Mon 5th PM: TWG Meetings">Mon 5th PM TWG Meetings</a></li>
	<li><a href="conference.html" title="Tue 6th-Thu 8th: Conference">Tue 6th-Thu 8th Conference</a></li>
	<li><a href="side-events.html" title="Fri 9th: Side Events">Fri 9th Side Events</a></li>
	<li><a href="registration.html" title="Registration">Registration</a></li>
        <li><a href="accommodation.html" title="Accommodation">Accommodation</a></li>
	<li><a href="venue.html" title="Venue">Venue</a></li>
	<li><a href="sponsoring.html" title="Sponsoring">Sponsoring</a></li>
	<li><a href="about.html" title="About">About</a></li>
      </ul>
    </nav>
  </header>

  <header class="header-mobile">
    <div style="font-weight: bold; color: white; float: left;">
        <a href="/"><img src="media/logos/RISCV-logo-mobile.png" style="vertical-align: middle; height: 50px"/></a>
        <span style="vertical-align: middle;"><span style="display: inline-block;">Summit Europe 2023,</span> <span style="display: inline-block;">5-9 June 2023,</span> <span style="display: inline-block;">Barcelona, Spain</span></span>
      </div>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="menu menu-mobile">
          <ul>
            <li><a href="index.html" title="Summit">Summit</a></li>
            <li><a href="cfp.html" title="Call for Submissions">CfS</a></li>
            <li><a href="twg-meetings.html" title="Mon 5th PM: TWG Meetings">Mon 5th PM: TWG Meetings</a></li>
            <li><a href="conference.html" title="Tue 6th-Thu 8th: Conference">Tue 6th-Thu 8th: Conference</a></li>
            <li><a href="side-events.html" title="Fri 9th: Side Events">Fri 9th: Side Events</a></li>
            <li><a href="registration.html" title="Registration">Registration</a></li>
            <li><a href="accommodation.html" title="Accommodation">Accommodation</a></li>
            <li><a href="venue.html" title="Venue">Venue</a></li>
            <li><a href="sponsoring.html" title="Sponsoring">Sponsoring</a></li>
            <li><a href="about.html" title="About">About</a></li>
          </ul>
        </nav>

  </header>
<article>
    <div>
      $body$
    </div>

    <div style="width: 100%; text-align: center;">
      <div style="font-size: 1.5em; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">Diamond Sponsors</div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px;">
        <img src="media/logos/sponsors/Andes.svg" width="300px"/>
        <img src="media/logos/sponsors/antmicro.svg" width="300px"/>
        <img src="media/logos/sponsors/Codasip.svg" width="300px"/>
        <img src="media/logos/sponsors/imperas.svg" width="300px"/>
        <img src="media/logos/sponsors/openhw.svg" width="300px"/>
        <img src="media/logos/sponsors/semidynamics.svg" width="300px"/>
        <img src="media/logos/sponsors/Ventana.svg" width="300px"/>
      </div>
      <div style="font-size: 1.5em; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">Gold Sponsors</div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px;">
        <img src="media/logos/sponsors/Agile.svg" width="250px"/>
        <img src="media/logos/sponsors/CEA.svg" width="250px"/>
        <img src="media/logos/sponsors/Gaisler.svg" width="250px"/>
      </div>
      <div style="font-size: 1.5em; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">Silver Sponsors</div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px;">
        <img src="media/logos/sponsors/Axelera.svg" width="200px"/>
        <img src="media/logos/sponsors/E4.svg" width="200px"/>
        <img src="media/logos/sponsors/Hipeac.svg" width="200px"/>
        <img src="media/logos/sponsors/lowrisc.svg" width="200px"/>
      </div>
    </div>

    </div>
  </article>
      <footer>
        <div style="margin-top: 30px;">
          <hr/>
	<span style="float: left;">
	  Site generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
	  and <a href="http://johnmacfarlane.net/pandoc">pandoc</a>.
	</span>
	<span style="float: right;">
	  $if(gitinfo)$ $gitinfo$ $endif$
	</span>
	<p>&nbsp;</p>
      </div>
    </footer>
  </body>
</html>
