.menu {
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
}
.menu li {
    padding: 5px 15px;
    display: inline;
    color:var(--riscv-b);
    background:var(--riscv-y);
}
.menu li a, .menu li a:link, .menu li a:visited {
    list-style: none;
    text-align: center;
    text-decoration: underline;
}

.menu li a:hover, .menu li a:active {
    color:var(--riscv-y);
    background:var(--riscv-b);
    text-decoration: none;
}

/* .menu li a:hover, .menu li a:link, .menu li a:active, .menu li a:visited { */
/*     color:var(--riscv-y); */
/*     background:var(--riscv-b); */
/*     text-decoration: none; */
/* } */
