.menu {
    list-style: none;
    text-align: center;
    display: block;
    margin: auto;
    background-color: var(--riscv-y);
    overflow: hidden;
}

.menu ul {
    padding: 0px;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline;
}

.menu li a {
    padding: 12px 15px 10px 15px;
    font-weight: bold;
}

.menu li a:link, .menu li a:visited {
    color:var(--riscv-b);
    background:var(--riscv-y);
    text-decoration: none;
}

.menu li a:hover, .menu li a:active {
    color: var(--riscv-y);
    background: var(--riscv-b);
    text-decoration: none;
}
