:root {
    /* RISC-V basic blue and yellow. */
    --riscv-b:#273272;
    --riscv-y:#f7b217;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html div {
    width:90%;
    margin:auto;
}

html h2 {
    color: var(--riscv-b);
    font-weight: bold;
}

html h3 {
    color: var(--riscv-y);
    font-weight: bold;
}

html footer {
    font-size: 62.5%;
}

html footer hr {
    color: var(--riscv-y);
}
