:root {
    /* RISC-V basic blue and yellow. */
    --riscv-b:#011e41;
    --riscv-y:#ffc72c;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
}

html body {
    width: 70%;
    margin: auto;
}

html h2 {
    color: var(--riscv-b);
    font-weight: bold;
}

html h3 {
    color: var(--riscv-y);
    font-weight: bold;
}

html footer {
    font-size: 62.5%;
}

html footer hr {
    /* color or backgroud-color depending on the browser. */
    color: var(--riscv-y);
    background-color: var(--riscv-y);
    height: 2px;
    border: none;
}
