table.riscv-sy {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sy);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sy td {
  border-width: 2px;
  border-color: var(--riscv-sy);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sy th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sy thead {
  background-color: var(--riscv-sy);
}


table.riscv-sb {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sb);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sb td {
  border-width: 2px;
  border-color: var(--riscv-sb);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sb th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sb thead {
  background-color: var(--riscv-sb);
}


table.riscv-sg {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sg);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sg td {
  border-width: 2px;
  border-color: var(--riscv-sg);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sg th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sg thead {
  background-color: var(--riscv-sg);
}


table.riscv-sp {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sp);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sp td {
  border-width: 2px;
  border-color: var(--riscv-sp);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sp th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sp thead {
  background-color: var(--riscv-sp);
}


table.riscv-sv {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sv);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sv td {
  border-width: 2px;
  border-color: var(--riscv-sv);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sv th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sv thead {
  background-color: var(--riscv-sv);
}


table.riscv-sy {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-sy);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-sy td {
  border-width: 2px;
  border-color: var(--riscv-sy);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sy th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-sy thead {
  background-color: var(--riscv-sy);
}


table.riscv-ly {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-ly);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-ly td {
  border-width: 2px;
  border-color: var(--riscv-ly);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-ly th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-ly thead {
  background-color: var(--riscv-ly);
}


table.riscv-lb {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-lb);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-lb td {
  border-width: 2px;
  border-color: var(--riscv-lb);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lb th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lb thead {
  background-color: var(--riscv-lb);
}


table.riscv-lg {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-lg);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-lg td {
  border-width: 2px;
  border-color: var(--riscv-lg);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lg th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lg thead {
  background-color: var(--riscv-lg);
}


table.riscv-lp {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-lp);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-lp td {
  border-width: 2px;
  border-color: var(--riscv-lp);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lp th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lp thead {
  background-color: var(--riscv-lp);
}


table.riscv-lv {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--riscv-lv);
  border-style: solid;
  color: #000000;
  text-align:center;
  margin-left:15%;
  margin-right:15%;
}

table.riscv-lv td {
  border-width: 2px;
  border-color: var(--riscv-lv);
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lv th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  padding: 3px;
  text-align:center;
}

table.riscv-lv thead {
  background-color: var(--riscv-lv);
}
