:root {
  /* RISC-V basic blue and yellow. */
  --riscv-b:#011e41;
  --riscv-y:#ffc72c;
  /* Full list of RISC-V colors from https://riscv.org/about/risc-v-branding-guidelines/ */
  --riscv-sy:#ffc72c; /* RISC-V strong yellow. */
  --riscv-sb:#011e41; /* RISC-V strong blue. */
  --riscv-sg:#0a6b7c; /* RISC-V strong green. */
  --riscv-sp:#cb007b; /* RISC-V strong pink. */
  --riscv-sv:#60269e; /* RISC-V strong violet. */
  --riscv-ly:#fdda64; /* RISC-V light yellow. */
  --riscv-lb:#0a3799; /* RISC-V light blue. */
  --riscv-lg:#62cbc9; /* RISC-V light green. */
  --riscv-lp:#fe9bb1; /* RISC-V light pink. */
  --riscv-lv:#c2a6e1; /* RISC-V light violet. */
  --bs-body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.navbar {
  background-color: var(--riscv-b);
}

.sponsor-table > tbody > tr {
  border: 1px solid #000;
}

.sponsor-table > tbody > tr:last-child {
  border: none;
}

.sponsor-table td {
  padding: 4px;
}

.sponsor-table tr > td:first-child {
  font-weight: bold;
}

.sponsor-table thead {
  font-weight: bold;
}

.sponsor-platinum {
  background-color: #E5E4E2;
}

.sponsor-gold {
  background-color: #F1E5AC;
}

.sponsor-silver {
  background-color: #E8E8E8;
}

.sponsor-bronze {
  background-color: #e9cc9e;
}

.sponsor-table td {
  text-align: center;
}

.sponsor-table td:first-child {
  text-align: left;
}

.schedule-time {
  font-style: italic;
}

.schedule-author {
  font-weight: bold;
  font-style: italic;
}

.schedule-title {
  font-weight: bold;
}

.schedule-day {
  color: var(--riscv-b);
  font-size: x-large;
  font-weight: 900;
  padding: .5em;
  width: 100%;
  text-align: center;
}

.schedule {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.schedule div {
  box-sizing: border-box;
}

.schedule-block-title {
width: 25%;
text-align: center;
padding: 0.5em;
}

.schedule-block-title.org {
  background-color: var(--riscv-sy);
}

.schedule-block-title.break {
  background-color: var(--riscv-lg);
}

.schedule-block-title.keynote {
  background-color: var(--riscv-ly);
}

.schedule-block-title.technical {
  background-color: var(--riscv-lv);
}

.schedule-block-title.social {
  background-color: var(--riscv-lp);
}

.schedule-block {
display: flex;
flex-flow: column wrap;
width: 75%;
padding: 0;

}

.schedule-entry {
width: 100%;
text-align: left;
padding-left: 1em;
padding-top: 0.5em;
}

.schedule-entry:last-of-type {
padding-bottom: 0.5em;
}

.schedule-block-time {
  font-weight: normal;
}

.schedule-block-name {
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .schedule-block-title {
      width: 100%;
  }
  .schedule-block {
      width: 100%;
  }
  .schedule-entry {
      text-align: left;
    }
}

table.riscv-sy {
    width: 80%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: var(--riscv-sy);
    border-style: solid;
    color: #000000;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

table.riscv-sy td {
    border-width: 2px;
    border-color: var(--riscv-sy);
    border-style: solid;
    padding: 3px;
    text-align:center;
}

table.riscv-sy th {
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 3px;
    text-align:center;
}

table.riscv-sy thead {
    background-color: var(--riscv-sy);
}

img.logo {
    object-fit: contain;
}

a.summit:link {
    color: black; /* unvisited link */
    text-decoration: none; /* Remove underline */
}
a.summit:visited {
    color: black; /* visited link */
}
a.summit:hover {
    color: var(--riscv-y); /* mouse over link */
}
a.summit:active {
    color: black; /* selected link */
}
a.summit:link {
    text-decoration: none; /* Remove underline */
}
